@import "/styles/reset.css";
@import "/styles/fonts.css";
@import "/styles/header.css";
@import "/styles/main.css";
@import "/styles/text.css";

body {
  width: 100vw;
  background: linear-gradient(99.89deg, #3625af 0%, #c46bd5 98.82%);
}

* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
}
